/*my first css*/
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 214);
}
img{
    border:10px solid rgb(80, 175, 80);
}
h1{

    text-align: center;
    background-color: powderblue;
    color: teal;
    border:5px dashed blue;
}
blockquote{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    background-image: url(http://placekitten.com/200/200);
    color: white;
}
/*1rem=16px*/
cite{
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: white;
}
.bigbold{
    font-weight: bold;
    font-size: 1.3rem;
}
h2,h3{
    color:teal
}
ol{
    color: rgb(168, 73, 168);
}
p{
    line-height: 1.3rem;
}
a{
    font-weight: bold;
    text-decoration:none ;
    color:tomato;
}
